*.o
*.dSYM
*.csv
*.out
*.png
backup/
mnist/
data/
caffe/
grasp/
images/
opencv/
convnet/
decaf/
submission/
cfg/
darknet
.bulkResults.csv

# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp
